<% provide(:title, "Our Contacts") %>
<div class="box">

		<table style="font-size:20px; font-family:'Spectral', serif; background: #FEFEFE;">
			<tr>
				<td>
			<strong>Call us on: </strong><br>
				Phone: +1(999) 999-999<br>
				<br>
				Available all week from 8:00 AM EST to 9:00 PM EST<br>
				<br>
				Or Email us at:<br>
				Email: mobileshack@gmail.com
				</td>
				<td>
				You may contact us at our mailing address:<br>
				<br>
				408 South Locust Street<br>
				UB Box #9999<br>
				Greencastle, Indiana<br>
				43165
				</td>
			</tr>
		</table>
</div>
