<% provide(:title, "Welcome to Mobile Shack") %>
<h1 class="center" style="font-family: 'Spectral', serif; font-size: 48px; font-style:italic; text-shadow: 2px 2px;">Welcome to MobileShack</h1>
<h3 class="center" style="font-family: 'Spectral', serif; text-decoration: underline grey;">The online phone & accessories market</h3>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:50%; margin: auto;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox" style=" width:auto; height: 450px !important;">
        <div class="item active">
            <%= image_tag(@display[0].picture.url(:medium), :class => "carousel-img center-block") %>
        </div>
        
        <div class="item">
           <%= image_tag(@display[1].picture.url(:medium), :class => "carousel-img center-block") %>
        </div>

        <div class="item">
           <%= image_tag(@display[2].picture.url(:medium), :class => "carousel-img center-block") %>
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h3 class="center" style="font-family:'Spectral', serif">This month's products</h3>

